<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Taxi Biên Hòa</title>
  {{#if cssFiles}}
  {{#each cssFiles}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  {{/if}}
  {{!-- openmap --}}
  <script src='https://unpkg.com/@openmapvn/openmapvn-gl@1.0.0/dist/maplibre-gl.js'></script>
	<link href='https://unpkg.com/@openmapvn/openmap-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- Include Owl Carousel CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <!-- Include Owl Carousel JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />

  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />



</head>
{{#if home}}

  <body>
{{else}}

  <body class="sub_page">
{{/if}}

    <!-- Header -->
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/script.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    {{#each jsFiles}}
    <script src="{{this}}"></script>
    {{/each}}

  </body>

</html>