@charset "UTF-8";
.news-link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease; }

.news-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

.box {
  cursor: pointer; }

.detail-box h6 {
  color: #333;
  transition: color 0.3s ease; }

.news-link:hover .detail-box h6 {
  color: #007bff;
  /* Hoặc màu khác tùy theo thiết kế của bạn */ }
