$white: #ffffff;
$primary1: #0fe7f3;
$black: #000000;
$btnColor: #0b0b0a;
$btnBgColor: #ffa500;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: "Poppins", sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  border: 1px solid $col1;
  background-color: transparent;
  color: $col1;

  &:hover {
    background-color: $col1;
    color: $col2;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

html {
  overflow-x: hidden;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
  
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  margin-bottom: 45px;

  h2 {
    position: relative;
    margin: 0;
    padding: 10px 0;

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      top: 50%;
      right: -45px;
      transform: translateY(-50%);
      z-index: 1;
      background-color: #dbc64c;
      background-repeat: no-repeat;
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}

.heading_container.reverse h2 {
  text-align: end;
}

.heading_container.reverse h2::before {
  left: -45px;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.6)),
    url(../img/hero-bg.jpg);
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    background-image: url(../img/hero-bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.sub_page {
  .hero_area {
    min-height: auto;
    background-image: none;
    background-color: #e1f3fd;
  }

  .service_section {
    margin: 45px auto;
  }
}

.header_section {
  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }
}

.custom_nav-container {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 10px 20px;
        color: #282828;
        text-align: center;
        position: relative;
        text-transform: uppercase;
      }
    }
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../img/search-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;

  span {
    font-size: 24px;
    font-weight: 700;
    color: #0b0b0a;
    text-transform: uppercase;
  }
}

.custom_nav-container {
  z-index: 99999;
  padding-top: 20px;
  align-items: flex-end;
}

.navbar-expand-lg .navbar-collapse {
  align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/menu.png);
  background-size: 45px;
}

/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  z-index: 2;
  color: #0fe7f3;
  padding: 45px 0 75px 0;
  width: 95% !important;
  margin: auto;

  .row {
    align-items: center;
  }

  div#carouselExampleIndicators {
    width: 130%;
    margin-left: -20%;
    position: unset;
  }

  .box {
    margin-bottom: 100px;

    .detail-box {
      padding-right: 10%;

      h4 {
        font-weight: bold;
        margin-bottom: 0;
        color: $white;
      }

      h1 {
        font-weight: bold;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 3rem;
      }
    }

    .img-box {
      margin: 0 7%;

      img {
        width: 100%;
      }
    }

    .btn-box {
      margin-top: 15px;

      a {
        text-align: center;
        @include hero_btn($btnColor, $white, 8px, 30px);
      }
    }
  }

  .slider_form {
    width: 100%;
    padding: 25px;
    background-color: #0fe7f3;
    border-radius: 10px;
    margin: auto;
    #map{
      margin-bottom: 15px;
    }
    h4 {
      font-weight: bold;
      text-align: center;
      color: black;
      margin-bottom: 20px;
    }

    form {
      margin: 15px 0;

      input,
      select {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        margin-top: 15px;
        padding-left: 15px;
      }

      .btm_input {
        display: flex;
        align-items: flex-start;
        div{
          width: 70%;
          margin-right: 12px;
        }
        input {
          width: 100%;
          margin: 0;
          margin-right: 10px;
        }

      }

      button {
        height: 40px;
        font-size: x-small;
        flex: 1;
        min-width: 116px;
        border: none;
        outline: none;
        background-color: $btnBgColor;
        color: $white;
      }

      button[type='submit'] {
        width: 100%;
        font-size: medium;
        margin-top: 15px;
        padding: 4px;
      }
    }
  }

  #estimated-result {
    color: white;
    margin: 15px 0 0 0;
  }

  .carousel-indicators {
    margin: 0;
    justify-content: flex-start;
    left: 10%;

    li {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #282828;
      opacity: 1;

      &.active {
        background-color: #dbc64c;
      }
    }
  }
}

// about section
.about_section {
  .row {
    align-items: center;
  }

  .detail-box {
    position: relative;
    padding-right: 75px;

    a {
      @include hero_btn($btnColor, $white, 8px, 25px);
      margin-top: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 65%;
      top: 10%;
      right: 25px;
      z-index: 1;
      background-color: #dbc64c;
      background-repeat: no-repeat;
    }
  }

  .img-box {
    padding: 75px 45px;

    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      z-index: 1;
      border-radius: 10px;
    }
  }
}

// service section
.service_section {
  width: 95%;
  margin: auto;
  border: 1px solid #e5e5e5;

  .service_container {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .box {
      .img-box {
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        i {
          color: #f7c621;
          font-size: 85px;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .detail-box {
        margin-top: 15px;

        h5 {
          font-weight: bold;
        }

        a {
          @include hero_btn($btnColor, $white, 7px, 20px);
        }
      }
    }
  }
}

// news section
.news_section {
  .news_container {
    display: flex;

    .date-box {
      background-color: #252525;
      padding: 7px 25px;
      color: $white;
      margin-bottom: -15px;
      position: relative;
      z-index: 2;

      h6 {
        margin: 0;
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      .img-box {
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .detail-box {
        background-color: #fdfcf9;
        padding: 15px;

        h6 {
          font-weight: bold;
          font-size: 18px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

// client section
.client_section {
  .carousel-wrap {
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
  }

  .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    background-color: #252525;
    background-size: 15px;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: initial;
    bottom: -75px;
    outline: none;

    &:hover {
      background-color: $primary1;
    }
  }

  .owl-carousel .owl-nav .owl-prev {
    background-image: url(../img/prev.png);
    left: 42%;

    &:hover {
      background-image: url(../img/prev-white.png);
    }
  }

  .owl-carousel .owl-nav .owl-next {
    right: 42%;
    background-image: url(../img/next.png);

    &:hover {
      background-image: url(../img/next-white.png);
    }
  }

  .box {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .img-box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #0fe7f3;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .detail-box {
    padding: 20px;
    text-align: center;

    img.quote-icon {
      width: 30px;
      height: auto;
      margin: 0 auto;
    }
  }

  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    margin-bottom: 15px;
  }



  @media (max-width: 768px) {
    .img-box {
      height: 150px;
    }

    .img-box img {
      width: 100px;
      height: 100px;
    }
  }

  .carousel-wrap {
    margin-bottom: 45px;
  }

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: block;
  }
}

// contact section
.contact_section {
  .row {
    align-items: center;
  }

  .contact_form {
    padding: 25px;
    background-color: #0fe7f3;
    margin: 0 45px;

    h4 {
      color: black;
      margin-bottom: 20px;
    }

    form {
      margin: 15px 0;

      input {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        margin-bottom: 15px;
        padding-left: 15px;

        &.message_input {
          height: 75px;
        }
      }

      button {
        padding: 8px 30px;
        border: none;
        outline: none;
        background-color: $primary1;
        color: $black;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}

// app section
.app_section {
  .detail-box {
    .text-box {
      h5 {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .btn-box {
      margin: 25px -5px 0 -5px;
      display: flex;

      a {
        margin: 5px;
      }
    }
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

// why section
.why_section {
  .why_container {
    padding-left: 10%;
  }

  .box {
    display: flex;
    align-items: center;

    .img-box {
      min-width: 90px;
      min-height: 90px;
      background-color: #252525;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 45px;

      img {
        max-width: 30px;
        transition: all 1s;
      }

      .img-2 {
        display: none;
        opacity: 0;
      }
    }

    .detail-box {
      h5 {
        font-weight: bold;
      }

      p {
        margin: 0;
      }
    }

    &:nth-child(2) {
      margin: 35px 0;
    }

    &:hover {
      .img-box {
        background-color: $primary1;

        .img-1 {
          display: none;
          opacity: 0;
        }

        .img-2 {
          display: inline-flex;
          opacity: 1;
        }
      }
    }
  }
}

// info section
.info_section {
  background-color: #161616;
  color: $white;

  .box {
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
  }

  .info_form {
    margin: 0 auto;
    margin-bottom: 45px;

    h4 {
      text-align: center;
      margin-bottom: 35px;
    }

    form {
      display: flex;
      align-items: stretch;

      input {
        background-color: $white;
        border: none;
        width: calc(100% - 55px);
        outline: none;
        color: $black;
        height: 42.4px;
        padding-left: 15px;

        &::placeholder {
          color: #9a9999;
        }
      }

      button {
        border: none;
        outline: none;
        background-color: $primary1;
        width: 55px;
        font-size: 15px;
        text-transform: uppercase;
        background-image: url(../img/right-arrow.png);
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .info_links {
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;

        a {
          color: $white;
          padding: 10px;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      margin: 15px 0;
    }
  }

  .info_social {
    display: flex;
    justify-content: center;
    margin: 45px auto 15px auto;

    img {
      width: 35px;
      margin: 0 7px;
    }
  }
}

// footer section
.footer_section {
  background-color: $primary1;
  display: flex;
  justify-content: center;
  position: relative;

  p {
    color: $black;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    width: 55%;
  }

  a {
    color: $black;
  }
}

// price table
.price-table {
  margin-top: 2rem;
  margin: auto;
  width: 95%;

  h2 {
    background-color: #FFA500;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

// location section
.location_section {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    max-width: 60%;

    h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }
  }

  .benefits-list {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0 20px;

    li {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }

  .image-wrapper {
    max-width: 35%;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}


.error {
  color: red;
  border: 2px solid red !important;
}

.error,
.error+span {
  color: red;
}

#map {
  margin-top: 15px;
  width: 100%;
  height: 200px;
}