<section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              Về chúng tôi <br>
              Công ty Taxi Biên Hòa
            </h2>
            <p>
              Công ty Taxi Biên Hòa là một dịch vụ vận tải tại thành phố Biên Hòa, Đồng Nai, chuyên cung cấp dịch vụ taxi chất lượng cao cho khách hàng. Với đội ngũ lái xe giàu kinh nghiệm và được đào tạo chuyên nghiệp, công ty cam kết mang đến sự an toàn và tiện lợi cho mọi chuyến đi. 
            </p>
            <a href="docthemvechungtoi.html">Đọc thêm</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="img/slider2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">
        <div class="info_form">
          <h4>
            Đăng ký nhận bản tin của chúng tôi
          </h4>
          <form id="newsletterForm" action="">
            <input type="text" placeholder="Gửi email với chúng tôi">
            <div class="d-flex justify-content-end">
              <button class="submit-button"></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="/.html">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about.html"> Chúng tôi</a>
            </li>
            <li class="">
              <a class="" href="service.html"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="" href="news.html"> Tin tức</a>
            </li>
            <li class="">
              <a class="" href="contact.html">Liên hệ </a>
            </li>
            <li class="">
              <a class="" href="/login">Đăng nhập</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="img/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>