<!--location section-->
  <section class="location_section layout_padding-top layout_padding2-bottom">
    <div class="content-wrapper">
      <div class="content">
          <h2> Tổng đài Taxi Biên Hòa Taxi Đồng Nai</h2>
          <ul class="benefits-list">
              <h4>Văn phòng Taxi</h4>
              <li>✔ Address: DND, KP3, P. Trảng Dài, Tp Biên Hòa, Đồng Nai</li>
              <li>✔ Phone: 0869754702</li>
              <li>✔ Email: nguyenvantien061202@gmail.com</li>
              <h3>Thời gian làm việc</h3>
              <li>✔ Thời gian: Thứ 2 - Thứ 7: 8h00 - 17h00</li>
              <li>✔ Số hotline ngoài giờ : 0982 937 778</li>
          </ul>
      </div>

      <div class="image-wrapper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31332.786265726012!2d106.86955519999998!3d10.993664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1721381184196!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
  </section>
  <!-- contact section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">
        <div class="info_form">
          <h4>
            Đăng ký nhận bản tin của chúng tôi
          </h4>
          <form id="newsletterForm" action="">
            <input type="text" placeholder="Gửi email với chúng tôi">
            <div class="d-flex justify-content-end">
              <button class="submit-button"></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="index.html">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about.html"> Chúng tôi</a>
            </li>
            <li class="">
              <a class="" href="service.html"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="" href="news.html"> Tin tức</a>
            </li>
            <li class="">
              <a class="" href="contact.html">Liên hệ </a>
            </li>
            <li class="">
              <a class="" href="#">Đăng nhập</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="img/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>