  <section class="news_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Tin tức <br>
          Tin tức của chúng tôi
        </h2>
      </div>
      <div class="news_container row">
        <div class="box col-lg-4 col-md-6 col-sm-12">
          <a href="tintuc1" class="news-link" target="_blank">
            <div class="date-box">
              <h6>July 13, 2024</h6>
            </div>
            <div class="img-box">
              <img src="img/news-img.jpg" alt="Taxi at Tan Son Nhat Airport">
            </div>
            <div class="detail-box">
              <h6>Xem xét cấp thẻ cho tài xế xe taxi, xe công nghệ ra vào đón khách ở Tân Sơn Nhất</h6>
              <p>Tân Sơn Nhất sẽ phối hợp với cơ quan chức năng tiến hành kiểm tra, giám sát để kịp thời phát hiện xử lý taxi nâng cước, nhân viên cò mồi hoặc xe dù, xe ôm hoạt động lộn xộn trong khu vực sân bay dịp hè 2024.</p>
            </div>
          </a>
        </div>
        <div class="box col-lg-4 col-md-6 col-sm-12">
          <a href="tintuc2" class="news-link" target="_blank">
            <div class="date-box">
              <h6>July 13, 2024</h6>
            </div>
            <div class="img-box">
              <img src="img/news-img2.jpg" alt="Electric Taxi">
            </div>
            <div class="detail-box">
              <h6>Doanh nghiệp cần sớm thấy chính sách hỗ trợ để yên tâm dùng xe điện</h6>
              <p>Nhiều doanh nghiệp taxi sử dụng xe điện đã thấy lợi ích của phương tiện này. Nhưng cần sớm có những chính sách cụ thể để yên tâm chuyển đổi sang xe điện, thực hiện cam kết giảm phát thải carbon của Chính phủ.</p>
            </div>
          </a>
        </div>
        <div class="box col-lg-4 col-md-6 col-sm-12">
          <a href="tintuc3" class="news-link" target="_blank">
            <div class="date-box">
              <h6>July 13, 2024</h6>
            </div>
            <div class="img-box">
              <img src="img/news-img3.jpg" alt="Vinasun Hybrid Taxi">
            </div>
            <div class="detail-box">
              <h6>Taxi điện đầy đường, Vinasun rẽ hướng rót tiền mua 550 ô tô dòng hybrid</h6>
              <p>Thay vì dùng ô tô điện, Vinasun chọn đầu tư mới 550 xe hybrid có động cơ lai điện và xăng. Xu hướng đầu tư xe hybrid trong dịch vụ taxi là chiến lược dài hạn của hãng.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end news section -->


  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box col-lg-4 col-md-6 col-sm-12">
        <div class="info_form">
          <h4>
            Đăng ký nhận bản tin của chúng tôi
          </h4>
          <form id="newsletterForm" action="">
            <input type="text" placeholder="Gửi email với chúng tôi">
            <div class="d-flex justify-content-end">
              <button class="submit-button"></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="index">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about"> Chúng tôi</a>
            </li>
            <li class="">
              <a class="" href="service"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="" href="news"> Tin tức</a>
            </li>
            <li class="">
              <a class="" href="contact">Liên hệ </a>
            </li>
            <li class="">
              <a class="" href="#">Đăng nhập</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="img/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>