<section class="price-table layout_padding">
    <h2 style="text-align: center; color: #161a18; margin-bottom: 10px;">BẢNG BÁO GIÁ TAXI KHU
      VỰC
      BIÊN HÒA - ĐỒNG NAI - GIÁ CHỈ TỪ 10.000/KM</h2>

    <table>
      <thead>
        <tr>
          <th>Các loại xe</th>
          <th>Giá mở cửa</th>
          <th>Giá cước các Km tiếp theo</th>
          <th>Giá cước từ Km thứ 31</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Xe 4 chỗ nhỏ</td>
          <td>10.000đ</td>
          <td>12.500đ</td>
          <td>10.500đ</td>
        </tr>
        <tr>
          <td>Xe 4 chỗ lớn</td>
          <td>11.000đ</td>
          <td>14.000đ</td>
          <td>11.600đ</td>
        </tr>
        <tr>
          <td>Xe 7 chỗ</td>
          <td>11.000đ</td>
          <td>17.000đ</td>
          <td>13.600đ</td>
        </tr>
        <tr>
          <td>Thời gian chờ</td>
          <td colspan="3">45.000đ/h</td>
        </tr>
      </tbody>
    </table>
  </section>
  
<section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Dịch vụ <br>
          Dịch vụ Taxi
        </h2>
      </div>
      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <i class="fas fa-car-side"></i>
          </div>
          <div class="detail-box">
            <h5>
              Nội thành, liên tỉnh
            </h5>
            <p>
              Dịch vụ đưa đón nội thành Biên Hòa <br> và đi liên tỉnh khu vực miền Nam
            </p>
            <a href="">
              Đọc thêm
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <i class="fas fa-plane-departure"></i>
          </div>
          <div class="detail-box">
            <h5>
              Đưa đón tại sân bay
            </h5>
            <p>
             Chúng tôi đưa đón<br> tại sân bay
            </p>
            <a href="">
              Đọc thêm
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <i class="fas fa-luggage-cart"></i>
          </div>
          <div class="detail-box">
            <h5>
              Chuyển đồ
            </h5>
            <p>
              Có các dịch vụ <br>chuyển đồ cho khách hàng
            </p>
            <a href="">
              Đọc thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">
        <div class="info_form">
          <h4>
            Đăng ký nhận bản tin của chúng tôi
          </h4>
          <form id="newsletterForm" action="">
            <input type="text" placeholder="Gửi email với chúng tôi">
            <div class="d-flex justify-content-end">
              <button class="submit-button"></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="index">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about"> Chúng tôi</a>
            </li>
            <li class="">
              <a class="" href="service"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="" href="news"> Tin tức</a>
            </li>
            <li class="">
              <a class="" href="contact">Liên hệ </a>
            </li>
            <li class="">
              <a class="" href="#">Đăng nhập</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="images/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>