<section class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; 2024
        <a href="https://www.facebook.com/groups/336818609470485">Dịch vụ của chúng tôi</a>
      </p>
    </div>
  </section>

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 20,
    navText: [],
    autoplay: true,
    autoplayHoverPause: true,
    responsive: {
      0: {
      items: 1
        },
    768: {
      items: 2
        },
    1000: {
      items: 2
        },
    }});
  </script>